/* #Basic Styles
================================================== */
	body {
		background: #b9cdcc;
		background-image:url(../img/bg.jpg);
		background-repeat:repeat-x;
		font: 12px/21px Arial, Helvetica, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		font-family: Arial, Helvetica, sans-serif;
		font-weight: normal; }
	h1, h2, h3 {
		color: #446A6A;
	 }
	 h4, h5, h6 {
		color: #222222;
	 }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 20px; line-height: 28px; margin-bottom: 8px;}
	h4 { font-size: 16px; line-height: 16px; margin-bottom: 10px;}
	h5 { font-size: 15px; line-height: 15px; }
	h6 { font-size: 14px; line-height: 14px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #05265D; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }
	a.arrow{
	background-image: url(../img/small_triangle.png);
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 15px;
}

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)),   color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: normal;
	  padding: 8px 10px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #ddd; /* Old browsers */
		background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
		background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.1))); /* Chrome,Safari4+ */
		background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
		background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.1) 100%); /* Opera11.10+ */
		background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.1) 100%); /* IE10+ */
		background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.1) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }

	.button:active,
	button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
		border: 1px solid #666;
		background: #ccc; /* Old browsers */
		background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
		background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
		background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
		background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
		background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
		background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}
	
	
	.btn-small{  
		padding:13px 26px; 
		font-size:15px;
		-moz-border-radius:6px;
    -webkit-border-radius:6px;
	}
	.btn-med{
		padding:10px 26px; 
		font-size:15px;
		-moz-border-radius:6px;
    -webkit-border-radius:6px;
		}
	.btn-large{
		padding:13px 26px; 
		font-size:15px;
		-moz-border-radius:6px;
    -webkit-border-radius:6px;
		}
	
	.red_org{
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ef6152), color-stop(1, #c32514));
        background:-moz-linear-gradient(top, #ef6152 5%, #c32514 100%);
        background:-webkit-linear-gradient(top, #ef6152 5%, #c32514 100%);
        background:-o-linear-gradient(top, #ef6152 5%, #c32514 100%);
        background:-ms-linear-gradient(top, #ef6152 5%, #c32514 100%);
        background:linear-gradient(to bottom, #ef6152 5%, #c32514 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef6152', endColorstr='#c32514',GradientType=0);
        background-color:#ef6152;
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-weight:bold;
        text-decoration:none;
        text-shadow: 0 1px rgba(0, 0, 0, .75)
    }
    .red_org:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c32514), color-stop(1, #ef6152));
        background:-moz-linear-gradient(top, #c32514 5%, #ef6152 100%);
        background:-webkit-linear-gradient(top, #c32514 5%, #ef6152 100%);
        background:-o-linear-gradient(top, #c32514 5%, #ef6152 100%);
        background:-ms-linear-gradient(top, #c32514 5%, #ef6152 100%);
        background:linear-gradient(to bottom, #c32514 5%, #ef6152 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c32514', endColorstr='#ef6152',GradientType=0);
        background-color:#c32514;
				text-decoration:none;
				color: white;
    }
    
		.white{
  margin-top: 15px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #EAEAEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.50, #ffffff),to(#EAEAEA));
	color: #c92c1b;
	font-weight: 600;
		}
/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
		
/* #layout Design
================================================== */

.container{
	background: #fff;
	padding: 0px;
	width: 1040px;
	margin-bottom: 100px;
	
	
}

.main_content{
	padding: 50px;
}

/* #header Design
================================================== */
header{
	position: relative;
	height: 137px;
	width: 1068px;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	position: relative;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 174px;
	height: 110px;
	padding-top: 70px;
	position: absolute;
	top: 20px;
	left: 54px;
	overflow: hidden;
	z-index: 1;
}
#logo h1{
	margin-top: 100px;
}

header nav{
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	background: #E8E4E3;
	width: 100%;
	padding: 10px;
}

header nav ul{
	float: right;
	list-style-type: none;
	margin-right: 65px;
	margin-top: 10px;
	padding: 9px 0;
}


header nav li{
	float:left;
	margin-left: 20px;
	padding-left: 20px;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #6D6D6D;
}


header ul li a, footer ul li a:visited{
	text-decoration: none;
	color: #6C6C6C !important;
	text-transform:uppercase;
	font-weight: bold;
	line-height: 20px;
}

header li.none, header li:nth-child(1){
	border: none;
}

header li.active a, header li.active a:visited{
	color: #000 !important;
}

header .top_links{
	background: #FFF;
	width: 97%;
	margin: 0 auto;
	height: 100%;
	padding: 10px 13px 0 0;
	text-align: right
}
header .top_links img{
	margin-left: 25px;
}

/* #Seach Design
================================================== */

#search{
	position: relative;
	-moz-box-shadow: inset 0 6px 10px -5px #888;
  -webkit-box-shadow: inset 0 6px 10px -5px #888;
  box-shadow: inset 0 6px 10px -5px #888;
}

.search{
	position: absolute;
	width: 287px;
	padding: 20px;
	right: 0px;
	top: 80px;
	background-image:url(../img/white_70.png);
	color: #000;
	
}
.search p{
	margin-bottom: 0px;
	
}

.search h5{
	font-size:20p;
	margin-top: 10px;
	margin-bottom: 20px;	
}

.search button{
	float: right;
}

.bottom_text{
	position:absolute;
	width: 100%;
	bottom: 0px;
	margin: 0px;
	left: 0px;
	background-image:url(../img/white_70.png);
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #141414
}

#search h2{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 450px;
	font-size: 30px;
	color: #263D3D;
	font-weight:bold;
	text-shadow: 2px 2px 6px #FFF;
}
/* #Footer Design
================================================== */
footer{
	clear: both;
	position: relative;
	border-top: #dadada 1px dotted ;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 35px;
	margin-top: 28px;
	font-size: 11px;
}
footer h6{
	color: #444444;
	font-size: 13px;
	margin-bottom: 25px;
}

footer .logos{
	float:left; 
	width: 19%;
	padding-left: 20px;
	margin-right: 13px;
	
}
footer .links{
	position: relative;
}
footer nav{
	position: absolute;
	width: auto;
	right: 50px;
	top: 10px;
}

footer nav ul{
	list-style-type: none;
}

footer nav li{
	float:left;
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	padding-left: 10px;
	border-left-width: 1px;;
	border-left-style: solid;
	border-left-color: #6D6D6D;
}

footer a, footer a:visited{
	text-decoration: none;
	text-decorations: none;
	color: #55595B;
	line-height: 0px;
}

footer li.none, footer li:nth-child(1){
	border: none;
}

/* #Banner Design
================================================== */
.banner{
	width: 100%;
	text-align: center;
}
.banner.img{
	margin-left:auto;
	margin-right:auto]
	}

/* #Other Design
================================================== */

#comm-nav {
	background: #BFD7D7;
	padding: 12px 0;
	overflow: hidden;
}
.sidebar-form {
	padding-top:15px;
}
.sidebar-form p {
	font-size: 17px;
}
#comm-nav a {
	text-transform: uppercase;
	font: 900 12px/12px Arial, Helvetica, sans-serif;
	color: #222;
}

.comm-title h3 {
	margin-bottom: 0;
}

.comm-title address {
	display: inline;
}

.comm-title a {
	font-weight: bold;
}
.img-wrapper {
	position: relative;

}
.img-wrapper img {
	width: 100%;
	height: auto;

}

.gray-bg {
	background: #E9E9E9;
}

#prevcomm {
	border-right: 1px solid #000;
	padding: 0 8px 0 0;
	margin: 0 6px 0 0;
}
.top_line{
	border-top: #dadada 1px dotted ;
	padding-top: 13px;
	margin-top: 13px;
}

.left_line{
	border-left: #dadada 1px dotted ;
}

.right_line{
	border-right: #dadada 1px dotted ;
}
.bottom_line{
	border-bottom: #dadada 1px dotted ;
}

.pad_right{
	padding-right: 50px !important;
}
.pad_left{
	padding-left: 50px !important;
}

.pad_top{
	padding-top: 50px !important;
}

.heading{
	width: 100%;
	margin-top: 50px;
	padding: 1px 50px;
	font-size: 12px;
	background-color: #BFD7D7;
	background-image: url(../img/heading_bg.png);
}

.heading h2{
	font-size: 25px;
	color: #446A6A;
}
	
.imgpad{
	margin: 0px 10px 3px 0px;
}

.Small-Blk{ margin-left: 20px; font-size: 12px; color:#000;}
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.uppercase{text-transform: uppercase;}
	.capitalize{text-transform: capitalize;}
	.clear{ clear: both;}
	.nopadding{padding: 0px !important;}
	.nomargin{margin: 0px !important;}
	.noTopPadding{padding-top: 0px !important;}
	.noTopMargin{margin-top: 0px !important;}

.benifits{
	width: 700px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 50px;
	text-align:center;
}
.benifits img{
	width: 100%;
}
.text-align-right {
	text-align: right !important;
}
.remove-right-margin {
	margin-right: 0 !important;
}
.remove-left-margin {
	margin-left: 0 !important;
}
.remove-both-margins {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.comm-title {
	margin-bottom: 20px;
}

.sidebar-form label, .sidebar-form input, .sidebar-form select {
	display: inline;
	width: 77%;
}

.sidebar-form label {
	width:20%;
	display: inline-block;
	padding-bottom: 30px
}
.sidebar-form .name {
	width: 38%;
}
.sidebar-form .phone {
	width: 160px;
	margin-right: 10px;
}
.sidebar-form  label.disclaimer {
	width: 65%;
	font-size: 10px;
	line-height: 13px;
	float: left;
	font-weight: normal;
	margin-right: 6%;
}
.sidebar-form button {font-size: 14px;}
.inline {
	display: inline !important;
}
.home {
	width: 30%;
	float: left;
	padding: 16px;
	margin: 1.5%;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block !important;
}
.third-box-pad {
	padding:20px;
}

.home button.btn-lg {
	font-size: 14px;
}

.white_org {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fff), color-stop(1, #eaeaea));
background: -moz-linear-gradient(top, #fff 5%, #eaeaea 100%);
background: -webkit-linear-gradient(top, #fff 5%, #eaeaea 100%);
background: -o-linear-gradient(top, #fff 5%, #eaeaea 100%);
background: -ms-linear-gradient(top, #fff 5%, #eaeaea 100%);
background: linear-gradient(to bottom, #fff 5%, #eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0);
background-color: #fff;
display: inline-block;
color: #c92d1c;
font-family: arial;
font-weight: bold;
text-decoration: none;
}
.white_org:hover {
	color: #333;
	text-shadow: none;
}

table .odd {
	background: #E8E4E3;
}
table {
	width: 100%;
}
table td {
	padding: 8px;
}
.home img {
	margin-bottom: 10px;
}
.moveinready {
	background: url(../img/homeicon.png) no-repeat;
	color: #000;
	text-indent: 30px;
	font-size: 11px;
	margin: 8px 0 15px;
	line-height: 18px;
	height: 25px;
	line-height: 25px;
}



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* #Listings Search
================================================== */
.search_listings{
	width: auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-left-color: #BBBBBB;
	margin: 20px 50px 0px 50px;
	padding: 10px 30px 0px 30px;
	background: #BFD7D7;
}
.search_listings .span4{
	margin-bottom: 0px;
}
.search_listings button{
	margin-top: 15px;
	background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, #EAEAEA);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.50, #ffffff),to(#EAEAEA));
	color: #c92c1b;
	font-weight: 600;
	
}

/* #Map
================================================== */
.map_content{
	padding: 0px;
	margin: 0 65px;
}
.map-header{
	padding: 3px 20px;
	background: #E8E4E3;
}
.map-header a, .map-header a:visited{
	color: #D63F2E;
}

.map{
	margin-top: -25px;
	min-height:auto;
}
.hidemap{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-image:url(../img/white_70.png);
	padding: 5px 20px;
}

.hidemap a, hidemap a:visited{
	color: #D63F2E;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
}

#map{
	padding: 0px;
}
.map-sidebar{
	min-height: 100%;
	height: 100%
}

.filter{
	margin-top: 25px;
	position: relative;
	}

.filter label {
  display:inline;
	margin: 0px 5px;
}

.filter input[type=checkbox] {
  display:inline;
  width:auto;
	margin-left: 10px;
}
.filter span{
	display:inline;
}


/* #Listings
================================================== */


.content_listing{
	background: #FFF;
	margin: 25px;
	padding: 20px 25px 0px 25px;
	margin-top: 50px;
	margin-bottom: 0px;
	
}
.featured_listing{
	background: #F3F1F1;
	margin: 25px;
	padding: 20px 25px 0px 25px;
	margin-top: 50px;
	margin-bottom: 0px;}

.featured_listing .heading{
	background: #fff;
	margin-top: -40px;
	text-transform: uppercase;
	text-align: center;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #BBBBBB;
	border-right-color: #BBBBBB;
	border-left-color: #BBBBBB;
	padding: 10px;
	margin-bottom: 0px;
	font-weight: bold;
	
}

.listings{
	position: relative;
	background-image: url(../img/listing_bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 15px;
	padding-left: 15px;
	line-height: normal;
	width: 100%;
	margin-bottom: 20px;
	min-height: auto;
}
.listings:last{
		margin-bottom: 0px;
}
.listings h5{
	color: #212121;
	font-weight: bold;
	font-size: 15px;
	position: relative;
	margin-top: 0px;
}

.listings p{
	margin: 7px 0px;
}

.listings h5 span{
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	position: absolute;
	right: 10px;
	top: 0px;
}
.listings h5 a, .listings h5 a:visited{
	color: #000;
}

.listings h5 .hidden-xs a {
	color: #FFF;
}

.slider{
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 20px 20px 0px;
}
.slider img{
	width: 100%;
}
.img_border{
	box-shadow: inset 0px 0px 0px 3px rgba(119, 119, 119, 0.7);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(119, 119, 119, 0.7);
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(119, 119, 119, 0.7);
}
.logo{
	background: #fff;
	position: absolute;
	padding: 5px;
	top: -4px;
	left: -4px;
	width: 70px;
	height: auto;
	min-height: 39px;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.61);
-moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.61);
-webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.61);
z-index: 9999;
}

.slides-previous{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/arrow-chevron.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.slides-next{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-image: url(../img/slides-next.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.logo img{
	width: 100%;
}
.pad_top_20{
	padding-top: 20px;
}

.galleria-image-nav-right, .galleria-image-nav-left {
	width: 53px !important;
	height: 142px !important;
}

.galleria-image-nav-right {
	background: url(../img/imgright.png) !important;
	right: 0 !important;
}

.galleria-image-nav-left {
	background: url(../img/imgleft.png) !important;
	left: 0 !important;
}

.home .galleria-image-nav-right, .home .galleria-image-nav-left {
	width: 26px !important;
	height: 71px !important;
	background-size: 26px 71px !important;
	top:25px;
}

.back-to-top{
	float:right;
}
.leftcor, .rightcor {
	top: 1px;
	width: 15px;
	text-indent: -9999px;
	height: 13px;
	position: absolute;
}
.rightcor {
	right: -13px;
	background: url(../img/rightcor.gif) no-repeat;
}
.leftcor {
	left: -15px;
	background: url(../img/leftcor.gif) no-repeat;
}

/* #Modals
================================================== */

div.modal-header img{ width: 100%;}
.modal-content{
	padding: 20px;
	background: #EAEAE8;
	margin-bottom: 25px;
}


.modal-header { padding: 9px 15px 0 15px; }
    .modal-header .close { margin-top: 2px; margin-right: 5px; float: right; text-decoration: none; font-size: 10px; color: #fff; font-weight: bold; text-transform: uppercase; }
    .modal-header h3 { margin: 0 0 25px; line-height: 1.1; font-size: 14px; background-color: #629999; color: #fff; padding: 21px 0 21px 15px; font-weight: bold; border-collapse: separate; box-shadow: 0 1.3em 3px -1.1em #999; -moz-box-shadow: 0 1.3em 3px -1.1em #999; -webkit-box-shadow: 0 1.3em 3px -1.1em #999; }

iframe{
	border: none;
	width: 100%;
	min-height: 100%;
}
.search h3 {
	font-size: 16px;
}
#search img {
	width: 100%;
}
.row ul {
	padding-left: 16px;
}
.redarrow {
	background: url(../img/redarrow.gif) no-repeat;
	width: 8px;
	height: 9px;
	display: inline-block;
}
.logos p {
	line-height: 13px;
	margin-top: 10px;
}

.top-features {
	float: left;
	margin-top: 14px;
}

.listinfo-bottom .span4 {
	border-right:1px solid #D6D6D6;
}

.listinfo-bottom .span4:nth-child(3) {
	border-right:none;
}
.backtotop {
	background: url(../img/bluearrup.gif) no-repeat right center;
	padding-right: 16px;
	margin-bottom: 5px;
}
.ul {
	text-decoration: underline;
}
.sales-center-box {
	text-align: center;
	background: #BFD7D7;
	padding: 25px 0;
}
.qm {
	display: inline-block;
	background: url(../img/questionmark.gif) no-repeat;
	width: 15px;
	height: 15px;
	position: relative;
	left: 5px;
	top: 3px;
	margin-right: 18px;
}
.home {
	font-size: 12px;
}
.home h5 {
	font-weight: 900;
}
.home .slider {
	margin-bottom: 5px;
}
.mapanddir .right-bor {
	border-right:1px solid #D6D6D6;
	margin-bottom: 20px;
}
.per-80 {
	width: 80% !important
}
.per-20 {
	width: 19% !important
}
.bor-top {
	border-top:1px solid #D6D6D6;
	padding-top: 15px;
	margin-top: 15px;
}