	
	/* Basecamp Sizes */
@media (min-width: 1200px) {
	#comm-nav {
		margin: 0;
	}
}
@media (max-width: 1200px) {
  header {
    max-width: 1100px;
  }
	
	.banner img{
			width: 96%;
	}
		
		
	.search{
	top: 50px;
  }


  .listings{
		background-size: auto;
	}
}	
	
	@media only screen and (max-width: 1187px) {
  header {
    max-width: 1000px;
  }
	.search{
	top: 50px;;
	width: 235px;
	padding-top: 0px;
	padding-bottom: 0px;
  }		
	
	
	footer{
		text-align: center;
		width: auto;
	}
	
	footer .logos{
		  width: 25%;
			margin: 0px;
		}

footer .links{
	position: inherit;
	clear: both;
}
footer p, footer nav{
	position: inherit;
	clear: both;
	padding: 0px;
	margin: 0px;
}
footer nav{
	text-align: center;
	margin-left: auto;
	margin-right:auto;
	width: auto;
	height: 50px;
}	
footer nav ul li{float:none; clear:none; display:inline-block;}

}

@media (max-width: 992px) {
  header {
    max-width: 780px;
  }
	header nav li{
	
	margin-left: 10px;
	padding-left: 10px;
	font-size:12px;
}
.home {
	width: 100%;
}
.search{
	top: 5px;
	
  }		
  .left_line, .right_line, .top_line, .bottom_line{
		border:hidden;
	}
	
	footer h6{
	font-size: 12px;
	margin: 0;
}

footer .links{
	position: inherit;
	clear: both;
}
footer p, footer nav{
	position: inherit;
	clear: both;
	padding: 0px;
	margin: 0px;
}
.pad_right{
	padding: 0px !important;
}
.pad_left{
	padding: 0px !important;
}
.benifits{
	width: 100%;
	margin-top: 10px;
}

.listings h5{
	font-size: 12px;
}

.listings{
	font-size: 11px;
}

#comm-nav, .gray-bg {
	background: none;
}


.fl-993 {
	float: left;
}
.fr-993 {
	float: right;
}

.listings .span7{
	text-align: left !important;
}

.VidNopad{
   margin: 10px 0px !important;
	 padding: 0px !important;
}
}

@media (max-width: 768px) {
 body{
	 font-size:12px;
 }
 #comm-nav a {
	 font-size: 11px;
 }
 .container{margin-bottom: 0px;}
 h5{font-size:20px; padding-left:5px;}
 h3{font-size:17px}
 h4{font-size:15px}
 h6{font-size:15px}

 .container{
	 width: 100%;
 }
 
 .main_content{
	 padding: 35px;
	 padding-top: 0px;
	 width: 100% !important;
 }
.full{
	 padding: 0px;
	 width: 100%
 }
 
  header {
	max-width: 100%;
	height: auto !important;
	padding: 0px !important;
	margin: 0px !important;
  }
	
	header #logo{
	position: inherit;
	width: 125px;
	height: 76px;
	margin-left: 10px;
	background-size: cover;
	padding: 0px !important;
	margin: 0px !important;
	overflow: hidden;
	z-index: 1;
}
header button{
	position: absolute;
	right: 20px;
	top:20px;
}
#logo h1{
	margin-top: 100px;
}

header a. header a:visited{
	text-decoration: none;
}

nav.mobilenav{
	position:inherit;
	clear: both;
	width: 100%;
	height: auto;
	padding: 0px !important;
	margin: 0px !important;
	background-color:transparent;
}


nav.mobilenav ul{
	float: none;
	padding: 0px !important;
	margin: 0px !important;
}
nav.mobilenav li{
	width: 100% !important;
	float: left;
	margin: 0px;
	padding: 0px;
	clear: both;
	background: #73a8a8; /* Old browsers */
	background: -moz-linear-gradient(top,  #73a8a8 0%, #4f7d7d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73a8a8), color-stop(100%,#4f7d7d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #73a8a8 0%,#4f7d7d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #73a8a8 0%,#4f7d7d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #73a8a8 0%,#4f7d7d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #73a8a8 0%,#4f7d7d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73a8a8', endColorstr='#4f7d7d',GradientType=0 ); /* IE6-9 */
	text-transform:uppercase;
	text-align: center;
  padding: 10px !important;
	margin-top: 2px;
}
nav.mobilenav a, nav.mobilenav a:visited{
	color: #fff !important;
	font-size: 16px !important;
	line-height: 25px !important;
	font-weight:bold !important;
	text-decoration: none;
}
nav.mobilenav li:hover{
   background: #4f7d7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f7d7d 0%, #73a8a8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f7d7d), color-stop(100%,#73a8a8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f7d7d 0%,#73a8a8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f7d7d 0%,#73a8a8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f7d7d 0%,#73a8a8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f7d7d 0%,#73a8a8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7d7d', endColorstr='#73a8a8',GradientType=0 ); /* IE6-9 */
}

nav.mobilenav a:hover{
	text-decoration: none;	
}

nav.mobilenav li{
	display: block;
}

nav.mobilenav li.active{
	display: none;
}

header nav.mobilenav li{
	display: none;
}

header nav.mobilenav li.active{
	display: block;
}

/* Search */
	#search{
			width: 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 20px;
			padding-right: 20px;
			background-color: #E8E4E3;
	}
	.search{
		  position:relative;
			width: 100%;
			margin-left: auto;
			margin-right:auto;
			background-image: none;
			
	}
	
	.search button{
	float: none;
	}
		
		.search imput{
			width: 100%;
			
		}
	
/* footer */		
	footer{
		clear: both;
		margin-top: 150px;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 50px;
		padding: 0px;
		text-align: center;
		border: hidden;
		
	}
	
	
	
footer h6{
	font-size: 12px;
	margin: 0;
}

footer .links{
	position: inherit;
	clear: both;
}
footer p, footer nav{
	position: inherit;
	clear: both;
	padding: 0px;
	margin: 0px;
}
footer nav ul{
	text-align: center;
	width: 100%;
	color: #05285D;
}	
footer nav ul li a, footer nav ul li a:visited{
	color: #05285D !important;
}		
	
	.left_line, .right_line, .top_line, .bottom_line{
		border:hidden;
	}

.heading{
	margin: 0px;
	padding: 1px 20px; 
}
.heading br{
	 display:none;
}
.heading h2{
	font-size: 17px;
	line-height:normal;
	color: #212121;
}

.col-md-6 iframe{
	width: 100%;
}

.search_listings{
	margin: 0px;
	padding: 5px 15px;
	width: auto;
	border: none;
	font-size: 12px;
	background-color: #BFD7D7;
	background-image: url(../img/heading_bg.png);
	color: #000;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
}
.search_listings p{
	margin: 0px;
	padding: 0px;
}

.search_listings button{
	margin: 0px 10px;
}
.map_content{
	padding: 0px;
	padding-left: 15px;
	margin: 1px;
}

.map_content .col-md-8{
	width: 100%;
	max-width: none;
	clear:both;
	}

.googlemap, .googlemap img{
	width: 100%;
}
.content_listing{
	margin: 0px;
	padding: 20px 0px;
	margin-top: 50px;
}

.featured_listing{
	background: #F3F1F1;
	margin: 0px;
	padding: 20px 0px;
	margin-top: 50px;
	}
.featured_listing .heading{
	margin-top: -40px;
	width: 200px;
	padding: 7px;
	margin-bottom: 0px;
	font-weight: bold;
	
}
.listings{
	height: auto;
	font-size: 10px;
	padding:: 0px;
	margin-bottom: 0px;
	}
	
	.listings h5{
	font-size: 10px;
	}
.listings .span4{
	width: 49%;
	margin-left: 1%;
	float:left;
}
.listings .span8{
	width: 49%;
	margin-left: 1%;
	float:left;
}
.listings .span5{
	clear:both; width: 100%; margin-bottom:0px;
}
.listings .span7{
	clear:both; width: 100%; text-align: left !important; margin-top:0px;
}
.back-to-top{
	margin-right: 10px;
}

}


 }
 @media (max-width: 400px) {
 	.fl-993, .fr-993 {
	 	float: none !important;
	 	text-align: left !important;
 	}
}
 }