	/* #Modals
================================================== */
/* test*/
body{background-color: trasparent; margin:0px; padding: 0px; color: #333333; font-size:13px; font-family: Arial, Helvetica, sans-serif; }

	
	.modal-wrapper{
		width: 99%;
		background: url(../img/white_50.png);
		padding: 10px;
	}
	
	.modal-content2{
	    width: 100%;
	    margin:0px;
		background-color: #EAEAE8;
		padding: 10px;
	}
	
	

    .modal-header { padding: 9px 15px 0 15px; }
    .modal-header .closeme {
		margin-top: 5px;
		margin-right: 10px;
		float: right;
		text-decoration: none;
		font-size: 10px;
		font-weight:bold;
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		background-image: url(../img/close.png);
		background-position: right center;
		background-repeat:no-repeat;
		padding-right: 20px;
		font-family: arial, helvetica, sans-serif
}
    .modal-header h3 { margin: 0px; line-height: 1.1; font-size: 17px; background-color: #629999; color: #fff; padding: 21px 0 21px 15px; font-weight: bold; border-collapse: separate; box-shadow: 0 1.3em 3px -1.1em #999; -moz-box-shadow: 0 1.3em 3px -1.1em #999; -webkit-box-shadow: 0 1.3em 3px -1.1em #999; }
    .modal-header h3 span {
	    display: block;
	    font-size: 12px;
	    line-height: 22px;
    }
    .modal-header .closeme a, .modal-header .closeme a:visited{
			color: white !important;
		}
    .gray-div{
         background-color: #D6D6D6;
         padding: 15px;
         margin: 20px 15px;
         
      }
		.content-div{
         padding: 15px;
         margin: 20px 15px;
         
      }
			
			.light-gray-div{
         background-color: #EAEAE8;
         padding: 15px;
         margin: 20px 15px;
         
      }
			.white-bg{
         background-color: #FFF;
      }
			.gray-bg{
         background-color: #D6D6D6 !important;
      }
			
			.light-gray-bg{
         background-color: #EAEAE8 !important;
      }
      .noBorder{border: hidden;}

/* Forms */
.request-form{
  width: auto;
}

.request-form label {
    float: left;
	  width: 20%;
		max-width: 65px;
}

.request-form input, .request-form select {
	display: inline;
	width: 75%;
}
.request-form input {
    display: inline;
}

.request-form .name {
	width: 37.3%;
}
request-form .phone {
	width: 90%;
}

request-form .email {
	clear:both;
}


.sidebar-form button {font-size: 14px;}
.inline {
	display: inline !important;
}

/* Floor Plans */

.floor-plan-left{
	float: left;
	width: 28%;
	background-color: #FFF;
	border: 2px solid #D2D2D2;
	padding: 0px;
	margin: 0px;
	min-height: 250px;
}

.floor-plan-right{
	float: left;
	width: 70%;
	background-color: #FFF;
	border: 2px solid #D2D2D2;
	padding: 30px;
	margin: 0px;
	margin-left: 2%;
	text-align:center;
}

.floor-plan-right img{
	width: 98%;
}
#floors li a{
	padding: 3px 15px !important;
}
#floors li a{
	color: #000;
	font-weight: bold;
}

#floors li.active{
	background: #E4EEEE;
}

/* Map */
.directions-map{
	margin-top: 0px;
	padding-top: 0px;
}
.directions-map img{width: 100%; height:auto;}
.directions-map, .map-form{
	margin: 20px 15px;
	height:auto;
	}

.map-form label{
	float: left;
	width: 20%;
}

.map-form input{
	float: left;
	width: 80%;
}

.tab-conents{
	margin: 0px;
	padding: 15px;
}



.nav-map-tabs {
  border-bottom: 1px solid #dddddd;
}

.nav-map-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.nav-map-tabs > li > a {
  margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid #E2E2E0;
	color: #999999;
	background: #fff;
}

.nav-map-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-map-tabs > li.active > a,
.nav-map-tabs > li.active > a:hover,
.nav-map-tabs > li.active > a:focus {
  color: #FFF;
  cursor: default;
  background-color: #7CA9A8;
  border: 1px solid #dddddd;
  border: transparent;
	border-radius: 4px 4px 0 0;
}

.nav-map-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

.nav-map-tabs.nav-justified > li {
  float: none;
}

.nav-map-tabs.nav-justified > li > a {
  text-align: center;
}

.panel-heading-maps a{
	border: 2px solid #fff;
	margin: 0px;
	background: #EDEDED;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	padding: 6px 10px 6px 35px;
	text-align: left;
	background-repeat: no-repeat;
	display: block;
	background-image: url(../img/minus.png);
}
.panel-heading-maps a.collapsed {
		background-image: url(../img/plus.png);
}
.panel-heading-maps h4 a, .panel-heading-maps h4 a:visited{
	font-size: 12px;
	color: #55595B;
}
.dl-hours{
	border: 2px solid #fff;
	margin: 5px 0px;
	background: #EDEDED;
	-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
	padding: 10px 20px;
	text-align: left;
}

.dl-hours:nth-child(even){
	background: #ABABAB;
	color: #fff;
}


.dl-hours dt {
    float: left;
    min-width: 100px;
		max-width: 100px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
		text-align: left;
  }
  .dl-hours dd {
    margin-left: 5%;
		text-align: left;
  }
  .dl-hours dd:before,
  .dl-hours dd:after {
    display: table;
    content: " ";
  }
  .dl-hours dd:after {
    clear: both;
  }
  .dl-hours dd:before,
  .dl-hours dd:after {
    display: table;
    content: " ";
  }
  .dl-hours dd:after {
    clear: both;
  }
	
	.contact-phone{
		float: right;
		margin: 0px 0px;
		font-size: 15px;
		color: #000;
	}
	label {
		font-family: Arial, Helvetica, sans-serif;
}
.modal-wrapper button {
	float: right;
	margin-right: 20px;
}
.modal-wrapper button.white {margin-top: 0;}
#floor-plan .modal-dialog, #video .modal-dialog {
	width: 75%;
}
.map-form .red_org {
	font-weight: 100; 
}
#directions p {
	text-align: right;
	color: #212121;
	font-size: 15px;
	font-weight: 900;
}